body {
    background-color: black;
    color: white
}

.aid{
    float: left;
    margin: auto;
    text-align: left;
}

div {
    border: white solid 2px;
    Position: static;
    float: inherit;
    width: 20%;
    margin: auto;
    top: 1px;
    padding: 3px;
}
.sticky{
    position: sticky;
}
.right{
    float: right;
}